body {
  background-color: white;
}
header {
  background-image: url("海.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#logo {
  padding: 40px 0;
  text-align: center;
}

#logo img {
  max-width: 150px;
  border: 5px solid white;
  border-radius: 100%;
}